<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaam Shaam Main</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/d5ebe584cd.js" crossorigin="anonymous"></script>
    <script src="/public/jquery-1.11.3.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->

    <link rel="shortcut icon" href="/logo-white.png" type="image/x-icon">

</head>

<body>
<% if(currentUser) {%>
        <%if(currentUser.isHirer){%>
         <%   %>
           <%}else{%>
        <% }%>
<%}%>
    <!-- navbar/header section -->
    <header class="header">
        <!-- main navbar -->
        <nav class="nav">
            <span class="navbar-toggler" id="js-navbar-toggle" onclick="openNav()">
                <i class="fas fa-bars"></i>
            </span>
            <a href="/" class="nav-brand">
                <img id="logo" src="http://localhost:8080/./logo-blue.png" alt="Kaam shaam">
            </a>
            <input type="search" name="search" id="search" placeholder="search"> <button type="submit"><i
                    class="fa fa-search"></i></button>
            <div class="main-nav">
                <a href="/browseJobs">Browse Jobs</a>
                <a href="/hire">Hire</a>
                <% if(!currentUser) {%>
                    <a href="#" id="myBtn">Log in <i class="fas fa-sign-in-alt"></i></a>
                    <a href="/signup">Sign up <i class="fas fa-user-plus"></i></a>
                <%}else{%>
                    <div class="dropdown">
                        <a><img src="http://localhost:8080/<%= currentUser.profileImage %>" alt="Avatar" class="avatar">&nbsp;<%=" "+currentUser.firstName +" "+currentUser.lastName%>&nbsp;<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-content">
                        <a href="/viewprofile/<%=currentUser._id%>" class="dropdown-a">View Profile</a>
                        <a href="/logout" class="dropdown-a">Log Out<i class="fas fa-sign-in-alt"></i></a>
                        </div>
                    </div>
                  <%}%>
            </div>
        </nav>

    </header>

    <div id="main">
        <div id="mySidenav" class="sidenav">
            <div id="sidebar-heading">
                <h1 class="inside first">Kaam</h1>
                <h1 class="inside">Shaam</h1>
            </div>
            <div class="searching">
                <input type="search" name="search" id="sidenav-search" placeholder="search"> <button id="search-btn"
                    type="submit"><i class="fa fa-search"></i></button></div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="line" href="Browsejobs">Browse Jobs</a>
            <a class="line" href="Hire">Hire</a>
            <% if(!currentUser) {%>
                <a href="#" id="myBtn2">Log in <i class="fas fa-sign-in-alt"></i></a>
                <a href="/signup">Sign up <i class="fas fa-user-plus"></i></a>
            <%}else{%>
              
                <a><img src="http://localhost:8080/<%= currentUser.profileImage %>" alt="Avatar" class="avatar">&nbsp;<%=" "+currentUser.firstName +" "+currentUser.lastName%>&nbsp;<i class="fas fa-caret-down"></i></a>
                <a href="/logout">Log Out<i class="fas fa-sign-in-alt"></i></a>
              <%}%>
          </div>
        </div> 
  
    <!-- cardtrycode -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Kaam Shaam</h2>
            <p> Log in to your account</p>
            <form action="/login" method="POST" style="width: 80%; ">
            <div class="login">
                
                    <div class="input-container">
                        <i class="fas fa-envelope icon"></i>
                        <input class="input-field email" type="text" placeholder="username" name="username" required>
                    </div>

                    <div class="input-container">
                        <i class="fas fa-key icon"></i>
                        <input class="input-field password" type="password" placeholder="Password" name="password" required>
                    </div>
                    
            </div>
            <button class="Submit-btn" type="submit">Log in</button>
                </form> 
            
            <h3><span>or</span></h3>
            <a id="newaccount" href="/signup">Already have an account?</a>
        </div>
    </div>