<%- include('partials/header') %>
<div class="section-apply-now-background">
  <div class="row section-apply-now-background-row-one">
    <div class="col-1-of-1">
      <h1>Job details</h1>
    </div>
  </div>
  <div class="section-apply-now">
    <div class="row">
        <div class="col-3-of-4">
            <h2 class="applyNow-title paddingForApplyRows"><%=job.jobdetail.jobTitle%></h1>
            <div class="section-apply-now-job-tags paddingForApplyRows">
                <h4>Tags: <span class="section-apply-now-job-tags-skills"><%=job.jobdetail.skills%></span></h6>
                <h6>Posted 1 hour ago</h6>        
            </div>
            <div class="section-apply-now-job-details">
                <p class="paddingForApplyRows" style="color: inherit;"><%=job.jobdetail.description%></p>
            </div>
        </div>
        <div class="col-1-of-4 apply-now-side-col">
            <a href="/browsejobs/job/<%=job._id%>/proposal" class="proposal-btn-side-col">Submit a proposal</a>
            <a href="#" class="save-btn-side-col"><i class="far fa-heart"></i> Save Job</a>
            <a href="#" class="report-btn-side-col"><i class="fas fa-flag"></i> Report Job</a>
            <div class="side-col-about-client">
                <h3><i class="fas fa-info-circle"></i> About the client</h3>
                <h4 class="payment-verified" style="color: inherit!important;"><i class="fas fa-check-circle"></i>Payment verified</h4>
                <div class="client-rating">
                  <%for(let i = 0; i < 5; i++){ %>
                    <i class="fas fa-star"></i>
                  <%}%>
                  <span>5.00 rating</span>
                </div>
            </div>
        </div>  
    </div>
  </div>
  <div class="job-stats-section">
    <div class="row section-job-stats">
      <h1>Posting Details</h1>
    </div>
    <div class="row section-job-stats section-job-stats-new">
      <div class="section-job-stats-views">
        <h4 class="views-heading">Views</h4>
        <h2 class="views-count">210</h2>
        <i class="views-up fa fa-caret-up" aria-hidden="true"><span>25%</span></i>
      </div>
      <div class="section-job-stats-views">
        <h4 class="views-heading">Proposals</h4>
        <h2 class="views-count">34</h2>
        <i class="views-down fa fa-caret-down" aria-hidden="true"><span>5%</span></i>
      </div>
      <div class="section-job-stats-views">
        <h4 class="views-heading">Avg. Rating</h4>
        <h2 class="views-count">4.2</h2>
        <i class="views-up fa fa-caret-up" aria-hidden="true"><span>12%</span></i>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
