<%- include('partials/header') %>
<div class="section-apply-now-background">
  <div class="row section-apply-now-background-row-one">
    <div class="col-1-of-1">
      <h1>Job details</h1>
    </div>
  </div>
  <div class="section-apply-now">
    <div class="row">
        <div class="col-3-of-4">
            <h2 class="applyNow-title paddingForApplyRows"><%=job.jobdetail.jobTitle%></h1>
            <div class="section-apply-now-job-tags paddingForApplyRows">
                <h4>Tags: <span class="section-apply-now-job-tags-skills"><%=job.jobdetail.skills%></span></h6>
                <h6>Posted 1 hour ago</h6>        
            </div>
            <div class="section-apply-now-job-details">
                <p class="paddingForApplyRows"><%=job.jobdetail.description%></p>
            </div>
        </div>
        <div class="col-1-of-4 apply-now-side-col">
            <a href="#" class="proposal-btn-side-col">Submit a proposal</a>
            <a href="#" class="save-btn-side-col"><i class="far fa-heart"></i> Save Job</a>
            <a href="#" class="report-btn-side-col"><i class="fas fa-flag"></i> Report Job</a>
            <div class="side-col-about-client">
                <h3><i class="fas fa-info-circle"></i> About the client</h3>
                <h4 class="payment-verified"><i class="fas fa-check-circle"></i>Payment verified</h4>
                <div class="client-rating">
                  <%for(let i = 0; i < 5; i++){ %>
                    <i class="fas fa-star"></i>
                  <%}%>
                  <span>5.00 rating</span>
                </div>
            </div>
        </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') %>
