<%- include('partials/header') %> <%# console.log(job)%>

<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<div class="job-proposal">
  <div class="row">
    <div class="col-1-of-1">
      <p>
        <a href="/browsejobs/job/<%=job._id%>" class="job-proposal-backlink"
          ><i class="fa fa-angle-left" aria-hidden="true"></i> Job Posting</a
        >
      </p>
      <h1 class="job-proposal-title">
        <%=job.jobdetail.jobTitle%>
        <i class="job-proposal-author">by <%= job.author.username%></i>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-1">
      <form action="/browsejobs/job/<%=job._id%>/proposal/<%=currentUser._id%>" enctype="multipart/form-data" method="POST">
        <div class="cv-upload-div">
          <h3>Your Resume</h3>
          <p>Please upload your resume</p>
          <div class="cv-upload-button">
            <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-arrow-up" aria-hidden="true"></i> File upload
            </label>
            <input id="file-upload"  type="file" name="Cv-attachment" required/><span
              id="file-name"
            ></span>
          </div>
        </div>

        <div class="proposal-time-details cv-upload-div">
          <h3>Time length</h3>
          <p>How long will this project take?</p>
        <div class="timecontainer">  
          <input class="time" name="time[one]" type="number" name="" placeholder="Amount of hours or days" required>
          <select class="time" id="joblevel" name="time[two]" required>
              <option value="mins">mins</option>
              <option value="hours">hours</option>
              <option value="days">days</option>
              <option value="months">months</option>
          </select>
          </div>
        
        </div>

        <div  class="proposal-payment-details cv-upload-div">
          <h3 class="proposal-payment-h3">
            <div>Terms & Payment</div>
            <div class="client-budget">
              Client's Budget: $<%=job.jobdetail.budget%>
            </div>
          </h3>
          <p class="payment-para-1">
            What is the full amount you'd like to bid for this job?
          </p>
          <div class="row payment-row-one">
            <div class="col-2-of-3">
              <!-- user input section -->
              <div class="row payment-row-two">
                <div class="col-1-of-2 price-input-statement">
                  <span class="price-input-bid">Your Bid</span> <br />
                  Total amount the client will see
                </div>
                <div class="col-1-of-2 price-input-label">
                  <span>$</span>
                  <input
                    type="text"
                    class="price-input-div"
                    id="price-input"
                    required
                    name="bidAmount"
                    min="0"
                    max="<%=job.jobdetail.budget%>"
                  />
                  <a href="#" id="priceBtn">cal</a>
                </div>
              </div>

              <!-- our cut section -->
              <div  class="row payment-row-two">
                <div class="col-1-of-2 price-input-statement">
                  <span class="price-input-bid">Kaam-shaam Service Fee</span>
                  <br />
                  We deduct 20% of the total price
                </div>
                <div class="col-1-of-2 price-input-label">
                  <span>$</span>
                  <span id="price-input-div-two"></span>
                </div>
              </div>

              <!-- final payment -->
              <div class="row payment-row-two payment-row-two-last">
                <div class="col-1-of-2 price-input-statement">
                  <span class="price-input-bid">You'll Receive</span>
                  <br />
                  Your final payment
                </div>
                <div class="col-1-of-2 price-input-label">
                  <span>$</span>
                  <span id="price-input-div-three"></span>
                </div>
              </div>
            </div>
            <div class="col-1-of-3 payment-side-div">
              <p>kaam shaam protected</p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
                sapiente perspiciatis adipisci quisquam accusamus est nobis cum
                asperiores, saepe ex.
              </p>
            </div>
          </div>
        </div>

        <div class="proposal-additional-details cv-upload-div">
          <h3>Additional Details</h3>
          <!-- <input type="text"> -->
          <p>Cover Letter</p>

          <!-- Create the editor container -->
          <div class="cover-letter-editor-div">
            <input type="hidden" name="quilltext" id="quill-html">
            <div id="editor">     
              <p>Write your cover letter here!!</p>
            </div>
            <div class="cover-letter-buttons">
              <div>
                <label
                  for="file-upload-two"
                  class="custom-file-upload custom-file-upload-two"
                >
                  <i class="fa fa-arrow-up" aria-hidden="true"></i> Attachments
                </label>
                <input
                  id="file-upload-two"
                  name="attachments"
                  type="file"
                  required
                /><span id="file-name-two"></span>
              </div>
              <div>
                <a href="#" class="cover-letter-button-save"
                  ><i class="fa fa-bookmark" aria-hidden="true"></i> Save</a
                >
                <a href="#" class="cover-letter-button-reset">Reset</a>
              </div>
            </div>
          </div>

          <div class="submit-proposal-div">
            <button type="submit" id="btn-submit" class="submit-proposal-submit-btn">Submit Proposal</button>
            <button type="button" class="submit-proposal-cancel-btn">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer') %>

<script>
  // file btn 1 (resume wala)
  document.getElementById("file-upload").onchange = function () {
    let val = this.value;
    val = val.slice(val.lastIndexOf("\\") + 1, val.length);
    document.getElementById("file-name").append(val);
  };
  // file btn 2 (attachments wala)
  document.getElementById("file-upload-two").onchange = function () {
    let val = this.value;
    val = val.slice(val.lastIndexOf("\\") + 1, val.length);
    document.getElementById("file-name-two").append(val);
  };

  // take price from user input and return the cut payments
  $("#priceBtn").on("click", (event) => {
    event.preventDefault();
    let userPriceVal = $("#price-input").val();
    $('#price-input-div-two').html(`-${Math.round(userPriceVal*0.2).toFixed(2)}`);
    $('#price-input-div-three').html(`${Math.round(userPriceVal*0.8).toFixed(2)}`);
  });

 
</script>

<!-- Initialize Quill editor -->
<script>
  var quill = new Quill("#editor", {
    theme: "snow",
  });
  $('#btn-submit').on('click', (event) => { 
    var delta = quill.container.firstChild.innerHTML;
    alert(delta);
    $('#quill-html').val(delta)
    // Get HTML content   
     // or quill.container.firstChild.innerHTML could also work
    // Copy HTML content in hidden form
    // Post form
    form.submit();
})
</script>
