<%- include('partials/header') %>
<div class="proposal-main-container"  >
  
    <p style="padding: 1rem 10%;">
        <a href="/viewprofile/<%=currentUser._id%>" class="job-proposal-backlink"
          ><i class="fa fa-angle-left" aria-hidden="true"></i> Back to profile</a
        >
        <div class="viewProposal-container">
        
        <div class="my-feed2"><h3><i class="fa fa-envelope" aria-hidden="true"></i>
            Proposal for : <%=job.jobdetail.jobTitle%></h3> <span style="font-size: small;font-weight: 300; position: relative; right: 0;"> Posted on <%=job._id.getTimestamp().toString().slice(0,15)%></span></div>
        <table id="view-proposal-table">
        <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>bid Amount</th>
            <th>Time bid</th>
            <th>CoverLetter</th>
            <th>Resume</th>
            <th>Attachements</th>
        </tr>
        </thead>
        <tbody>
        <%job.proposals.id.forEach(function(proposal,i){%>
            <tr>
                <td><%=i+1%></td>
                <td><%=proposal.author.id.firstName +" "+ proposal.author.id.lastName%></td>
                <td><%=proposal.bidAmount%></td>
                <td><%=proposal.timeLength%></td>
                <td><a href="#" >View Cover Letter</a></td>
                <td><a href="http://localhost:8080/<%=proposal.resume%>" target="_blank">View Cv</a></td>
                <td><a href="http://localhost:8080/<%=proposal.additionalAttachment%>" target="_blank">View Attachment</a></td>
            </tr>
        <%})%>
        </tbody>
        </table>
       </div>
</div>

   

<script>
        $(".nav").css("background-color","#f5f5FF");

</script>
<%- include('partials/footer') %>
